.Sidebar{
    width: 300px;
    height: 100vh;
    background-color: #000000;
    transition: 1s;

    position: relative;
}

.Sidebar_wrapper{
    position: absolute;
    right: 0;

    width: 300px;

    transition: 1s;
}

@media screen and (max-width: 800px) {
    .Sidebar{
        width: 0;
        height: 100vh;
        background-color: #000000;
    }

    
}